---
- name: use in-memory inventory
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    add_these_hosts:
      - inmem1
      - inmem2
      - inmem3
      - inmem4
      - inmem5

  tasks:
    - name: add hosts
      ansible.builtin.add_host:
        name: "{{ item }}"
        group: dynamic
        ansible_host: "{{ test_ip }}"
      loop: "{{ add_these_hosts }}"

- name: do something with the new hosts
  hosts: dynamic
  gather_facts: no

  tasks:
    - name: say hi
      ansible.builtin.copy:
        content: hello this is {{ inventory_hostname }}
        dest: /tmp/hello
